<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/scripts.js"></script>
</head>
<body>
    <div class="form-container">
        <div class="greeting">
            <h1>Hello {{role}}!!!</h1>

        </div>
        <form action="logout" method="POST" class="inputs-container">

            <input id="submit" type="submit" class="logoff-button" name="submit" value="Sign out" >

        </form>
    </div>

</body>
</html>